{{- $banner := .Params.banner | default "d3v4" -}}
{{- if eq $banner "blog" -}}
<pre class="banner">
██████╗ ██╗      ██████╗  ██████╗
██╔══██╗██║     ██╔═══██╗██╔════╝
██████╔╝██║     ██║   ██║██║  ███╗
██╔══██╗██║     ██║   ██║██║   ██║
██████╔╝███████╗╚██████╔╝╚██████╔╝
╚═════╝ ╚══════╝ ╚═════╝  ╚═════╝
</pre>
{{- else if eq $banner "about" -}}
<pre class="banner">
 █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗
██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝
███████║██████╔╝██║   ██║██║   ██║   ██║
██╔══██║██╔══██╗██║   ██║██║   ██║   ██║
██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║
╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝
</pre>
{{- else -}}
<pre class="banner">
██████╗ ██████╗ ██╗   ██╗██╗  ██╗
██╔══██╗╚════██╗██║   ██║██║  ██║
██║  ██║ █████╔╝██║   ██║███████║
██║  ██║ ╚═══██╗╚██╗ ██╔╝╚════██║
██████╔╝██████╔╝ ╚████╔╝      ██║
╚═════╝ ╚═════╝   ╚═══╝       ╚═╝
</pre>
{{- end }}
